@mixin defaults {
    font-family: Times, Serif;
    font-size: 11pt;
    text-align: justify;
}

@page {
    @include defaults;
    margin: 2cm 2.5cm;
}

@page body:left {
    @top-left {
        content: counter(page);
        vertical-align: bottom;
    }
    @top {
        content: Chapter;
        vertical-align: bottom;
    }
}
@page body:right {
    @top-right {
        content: counter(page);
        vertical-align: bottom;
    }
    @top {
        content: section;
        vertical-align: bottom;
    }
}
@page body {
    border-top: thin black solid;
}
@page body:first {
    margin-top: 25%;
    @top-left { content: normal; }
    @top-right { content: normal; }
    border: none;
}
@page body:blank {
    @top-left { content: normal; }
    @top-right { content: normal; }
    border: none;
}
body {
    padding: 0.5cm 0cm;
    @include defaults;
}

@page titlepage {
    @include defaults;
    @top { content: normal; }
    @top-left { content: normal; }
    @top-right { content: normal; }
}

.titlepage {
    text-align: center;
    page: titlepage;
    .title {
        margin-top: 6cm; 
        font-size: 28pt;
    }
    .author {
        margin-top: 32pt; 
        margin-bottom: 4cm; 
        font-size: 28pt;
    }
    .titlepagetext {
        font-size: 18pt;
        margin-bottom: 27pt;
    }
}

@page frontmatter {
    @include defaults;
    @top { content: normal; }
    @top-left { content: normal; }
    @top-right { content: normal; }
    @bottom { content: counter(page, lower-roman); }
}

@page frontmatter:blank {
    @bottom { content: normal; }
}

h1 {
    page-break-before: right;
}

p.paperref {
    margin-left: 1cm;
    margin-right: 1cm;
    text-align: left;
    .pubauthor {
        font-weight: 600;
    }
    .pubhow {
        font-style: italic;
    }
}

ul {
    margin-left: 20pt;
    margin-right: 20pt;
}

.frontmatter {
    page: frontmatter;
    counter-reset: page 1;
}

.body {
    counter-reset: page 1;
    prince-page-group: start;
    page: body;
    h1 {
        margin-bottom: 1em;
    }
}

